{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}
    {# Flash Message #}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {# Add Form #}
    {{ form(formulario) }}
{% endblock %}
